html{
    width: 100% !important;
}


/* ======  NAV SECTION START ====== */
#navbarNav{
    justify-content: space-between;
}
.logo-nav{
    width: 7.5rem;
}
.image-nav{
    width: 2rem;
}
.bg-light{
    transition: ease 1s;
}
.container-fluid{
    padding: 0px !important;
}
.nav-container-icon > .nav-item{
    margin-right: 20px;
    transition: ease 0.5s;
    border-radius: 40px;
    align-items: center;
}
.nav-container-icon > .nav-item:hover{
    background-color: #d7d8d8;
}
.nav-container-text > .nav-item{
    transition: ease 0.5s;
    border-radius: 10px;
    margin-right: 10px;
}
.nav-container-text > .nav-item:hover{
    background-color: #d7d8d8;
}
.goDown{
    background-color: rgba(255, 255, 255, 0.76) !important;
    transition: ease 1s;
}
.goDown a{
    color: black !important;
}
/* <<<<<<  NAV SECTION END >>>>>> */

/* ======  MAIN SECTION START ====== */

#main-section > .image-main-section{
    position: relative;
    background-image: url('../images/background/office.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 4;
    filter: blur(2px);
    height: 100vh;
    width: auto;
}
.text-centered-office{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 1px 5px #000;
    z-index: 5 !important;
    background-color: rgba(54, 54, 54, 0.616);
}

/* <<<<<<  MAIN SECTION SECTION END >>>>>> */


/* ======  WHAT IS GUL SECTION START ====== */

#what-is-gul-section{
    font-size: 1.2rem 
}
#what-is-gul-section .card{
   margin-top: 15%;
}
.row{
    max-width:100%;
}
.text-content{
    z-index: 2;
}
.text-content .card{
    box-shadow: 3px 3px 10px #000;
}
.tux-gif{
    max-width: 200px;
}
.img-content img{
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translate(-50%,-50%);
    width: 40%;
    z-index: 1;
    box-shadow: 3px 3px 10px #000;
}

/* <<<<<<  MAIN SECTION SECTION END >>>>>> */

/* ======  WHERE WE ARE SECTION START ====== */
#where-we-are-section > svg{
    fill: #ffffff;
}
#where-we-are-section{
    height: 100vh;
    background-color: #e0dfdf;
}


/* <<<<<<  WHERE WE ARE SECTION END >>>>>> */



/* ======  MEDIA QUERY SECTION START ====== */


@media screen and (max-width: 992px){
    .nav-container-icon{
        flex-direction: row !important;
        justify-content: space-evenly;
        padding-bottom: 10px;
        }
    .nav-container-text{
        border-top: 1px solid #d7d8d8;
    }
    .nav-container-text > .nav-item{
        text-align: center;
    }
    .nav-container-icon > .nav-item{
        padding-left: 10px;
        padding-right: 10px;
    }
    .img-content img{
        transform: translate(-90%,-20%);
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    .tux-gif{
        width: 100px;
    }
}

@media screen and (max-width:576px){
    .text-centered-office{
        font-size: 1.3rem;
    }
    #what-is-gul-section .card{
        margin-top: 10%;
        max-height: 85vh;
     }
     .tux-gif{
         width: 70px;
     }
    .img-content > img{
        display: none;
    }
    #where-we-are-section{
        margin-top: 120px;
    }
}




/* <<<<<<  MEDIA QUERY SECTION END >>>>>> */