/* */
/* Revival.3 */
/* by: Develop Daly - www.developdaly.com */

/* Structure */
* {
   padding:0;
   margin:0;
}

body {
	text-align: left;
	margin:0 auto;
	padding:0;
	color:#000000;
	font-size:12px;
	font-family:Verdana, Tahoma, Arial, sans-serif;
	background:#e7f7ff;
	text-align:justify;
}
#page {
	width:960px;
	margin:0 auto;
}

/* these two DIVs have been updated to workaround the Microsoft Internet Explorer Stupidity (voiser) */

#left{
	float:left; 
	width:150px;
	padding:0px 0 30px 0;
	display:inline;
}

#right{
/*	float:right;*/
	display:inline;
	width:810px;
	padding:0 0 15px;
}

/* top menu */
#topmenu{
	font-size:11px;
	color:#005577;
	clear:both;
	margin:10px auto 0 auto;
	width:790px;
	padding:0px 0 0 0;
	text-align:center;
	/*-moz-border-radius:15px;*/
}

/* left menu */
#menu {
	margin:22px 0 0 0;
	width:150px;
	text-align:center;
}

#banners {
	width:150px;
	background:transparent url(img/publicidad.jpg);
}

#menu a img {
	padding-top:0px;
	width:140px;
	border:none;
}

.patrocinadoresarriba {
	background:transparent url(img/topmenu.jpg) no-repeat 0px 0px;
}
.patrocinadoresabajo {
	background:transparent url(img/bottommenu.jpg) no-repeat 0px -25px;
}
#menu h4 {
	padding:3px 0 6px 0;
	color:#005577;
	font-size:13px;
	font-weight:900;
}

ul#menu li {
	display:block; 
	list-style-type:none;
	text-align:center;
}

ul#menu a {
	display:block;
	padding-top:3px;
	height:22px;
	width:150px;
	font-size:14px;
	text-decoration:none;
}

.menutitle {
	background:transparent url(img/topmenu.jpg) no-repeat 0px 0px;
	padding-top: 3px;
	height:22px;
	width:150px;
	font-size:14px;
	text-decoration:none;
	border-bottom: 1px solid #005577;
}
.toplink a {
	background:transparent url(img/topmenu.jpg) no-repeat 0px 0px;
}
.toplink a:hover {
	background:transparent url(img/topmenu.jpg) no-repeat 0px -25px;
	color:#99cccc;
}
.normallink a {
	background:transparent url(img/menu.jpg) no-repeat 0px 0px;
}
.normallink a:hover {
	background:transparent url(img/menu.jpg) no-repeat 0px -25px;
	color:#99cccc;
}
.bottomlink a {
	background:transparent url(img/bottommenu.jpg) no-repeat 0px -25px;
}
.bottomlink a:hover {
	background:transparent url(img/bottommenu.jpg) no-repeat 0px 0px;
	color:#99cccc;
}

/* Right menu (publicity) */
#rightmenu {
	float:right;
	width:150px;
	margin:22px 0 0 0;
	text-align:center;
}

#banners {
	width:150px;
	background:transparent url(img/publicidad.jpg);
}

#rightmenu a img {
	width:140px;
	border:0px;
}

#rightmenu p {
	padding-top: 10px;
	background:transparent url(img/menu2.jpg) repeat-y 0px 0px ;
}

.patrocinadoresarriba {
	background:transparent url(img/topmenu.jpg) no-repeat 0px 0px;
}
.patrocinadoresabajo {
	background:transparent url(img/bottommenu.jpg) no-repeat 0px -25px;
}
#rightmenu h4 {
	padding:3px 0 6px 0;
	color:#005577;
	font-size:13px;
	font-weight:900;
}

#content {
	width:630px;
	float:left;
	margin:0;
	padding:0 5px 0 10px;
}
#content p{
	padding:10px 0 0 10px;
}

/* headers */
#header {
/*	height:80px;*/
	width:960px;
	margin: 0 auto;
	padding:0;
	background:url(img/fondo.jpg) no-repeat;
/*	-moz-border-radius:15px;*/
}
#headleft{
	font-weight:900;
	font-size:34px;
	color:#99cccc;
	float:left;
	width:40%;
	padding:2px 0 0 2px;
}
#search{
	float:right;
	width:45%;
	font-weight:normal;
	font-size:9px;
	color:#99cccc;
	text-align:right;
	padding:25px 20px 0 0;
	packground:#f00;
}

#headright{
	clear:both;
	width:960px;
	font-weight:normal;
	font-size:10px;
	color:#005577;
	text-align:right;
	padding-top:10px;
	margin-bottom:0px;
}

#header a img {
	border: none;
}



/* footer */

#footer{
	background:transparent url(img/footer.jpg) no-repeat;
	height:20px;
	font-size:11px;
	color:#005577;
	clear:both;
	margin:10px auto 10px auto;
	width:950px;
	padding:5px;
	text-align:center;
}

#footer a {
	color:#000;
}

#footer a:hover {
	color:#fff;
}

/* misc */
a{
	color:#084f6d;
}
a:hover{
	color:#000000;
}

.left{
	float:left;
}

.right{
	padding-top:10px;
	float:right;
}

h1{
	font-weight:900;
	font-size:34px;
	color:#99cccc;
	padding: 20px 0 10px 90px;
}

h2{
	color:#005577;
	font-size:12px;
	text-decoration:none;
}
h2 a{text-decoration:none;}
h2 a:hover{color:#fff;}

h2 a:link{text-decoration:none;}

h3{
	color:#005577;
	font-size:16px;
	padding:20px 0 0 0;
}
h4{
	color:#005577;
	font-size:13px;
	padding:10px 0 0 0;
}

h5{
	font-weight:normal;
	font-size:10px;
	padding-right:10px;
	text-align:right;
}

h5 a:hover{
	color:#9797c0;
}

h5 a:link{
	text-decoration:none;
}

#content img{
	margin:5px;
}




/*
html, body {
	height: 100%;
}


.box {
	margin:0;
	height:100%;
	border:2px solid #999999;
	margin:10px 20px 0 30px;
}
.box p{
	padding:5px;
}


h2 a:hover{
	color:#999;
}



td#right {
	width:195px;
}

.button a {
	background:#c7d7ef;
	display: block;
	overflow: hidden;
	/*for MacIE*/
	color:#333333;
	font-size:14px;
	font-weight:600;
	text-align:center;
	width:146px;
	text-decoration: none;
	padding-top:3px;
	padding-bottom:3px;
	/*-moz-border-radius:15px;*/
}
	
.button a:hover {
	color:#99cccc;;
	background-color: #005577;
	}

.planet-entry 
{
	margin-left:30px;
}

.planet-entry h2
{
	margin-top: 20px;
	background: #99cccc;
	border-top: 1px solid #005577;
}

.planet-entry ul,ol
{
	padding:15px;
}

.planet-entry li
{
	margin-top:5px;
}

.planet-entry pre
{
	color: #005577;
	background: #c7d7f0;
	margin-top:5px;
}

.jaiku
{
	margin-top:15px;
	border-bottom: 1px solid #c7d7f0;
}

.jaiku a
{
	text-decoration:none;
	color:#005577;
}

.jaiku-firma
{
	color:#99cccc;
	text-align:right;
}

#searchbox input
{
	border:1px solid #005577;
	background: #c7d7f0;
}

#results_
{
	background: #fff;
	border:1px solid #005577;
}
